.formCard{
    display: grid;
    grid-template-rows:  2rem 2rem 2rem;
    margin: auto;
    height: 30%;
    margin-bottom: 10%;
}

.imageFormCard{
    margin:auto;
}

.champs{
    width:100%;
}

label{
    margin-right: 1rem;
}

input{
    margin-bottom: 1rem;

}
